*{
    font-family: 'Balsamiq Sans', cursive;
}

body{
    margin: 0;
}

#logo-nav{
    width: 100px;
}

nav{
    display: flex;
    width: 100vw;
    align-items: center;
    justify-content: space-between;
    padding: 0 45px 0 45px;
    background-color: #24292e;
}

nav div a {
    color: black;
    text-decoration: none;
}